.htpasswd
.htaccess
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backups/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
#wp-content/backups/
sitemap.xml.gz
wp-config.php
.DS_Store
.sass-cache/
*.sass-cache/
wp-content/plugins/all-in-one-event-calendar/cache/
wp-content/plugins/all-in-one-event-calendar/public/js_cache/calendar.js
wp-content/.DS_Store
wp-content/trainings/
wp-content/wfcache/
wp-content/updraft/backup*