#bbi-page-banner {
	height: 200px;
	position: relative;

	@include responsive(sm) {
		height: 300px;

	}

	@include responsive(md) {
		height: 400px;

	}

	@include responsive(lg) {
		height: 450px;
	}

	.bbi-caption {
		position: absolute;
		bottom: 0;
		z-index: 1;
		color: $clr-white;
		text-align: center;
		left: 0;
		width: 100%;

		@include responsive(sm) {

			&__left {

				.bbi-caption-wrap {
					float: left;
					text-align: left;
				}

			}

			&__right {

				.bbi-caption-wrap {
					float: right;
					text-align: right;
				}
			}

			&__center {

				.bbi-caption-wrap {
					display: inline-block;
				}
			}

		}

		.bbi-caption-wrap {
			@include alpha-attribute('background-color', rgba($clr-brand-darker, 0.5), white);

			padding: 15px 35px;

			@include responsive(sm) {
				padding: 25px 50px;
			}
		}

		h1 {
			color: $clr-white;
			margin-bottom: 0;
		}

		h4 {
			color: $clr-white;
		}
	}
}

#bbi-page-header {

	background:$clr-brand-light;
	padding: 25px 0;

	@include responsive(sm) {
		padding: 50px 0;
	}

	h1 {
		margin: 0;
		color: $clr-white;
	}
}